.home-footer {
    background-color: #e0e0e0;
    padding: 20px 40px;
    height: 130px;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .footer-left {
            display: flex;
            align-items: center;
            margin-top: 15px;
            margin-left: 20px;
            gap: 10px;
            .footer-logo {
                height: 60px;
                width: auto;
                object-fit: contain;
            }
        }

        .footer-center {
            margin-top: 15px;
                strong {
                    animation: flashRed 1s infinite alternate;
                }

                p {
                    margin: 2px 0;
                    font-size: 14px;
                    font-weight: 600;
                }
    }
    @keyframes flashRed {
        0% {
            color: #f52b2b;
            text-shadow: 0 0 5px #ff2121;
        }
        100% {
            color: #f52b2b;
            text-shadow: 0 0 15px #ff2121;
        }
    }


        .footer-right {
            margin-top: 15px;
            a {
                font-weight: bold;
                text-decoration: underline;
                color: #3490eb;

                &:hover {
                    color: #1075ce;
                }
            }
            p {
                margin: 2px 0;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .footer-content {
            flex-direction: column;
            text-align: center;
            gap: 15px;

            .footer-left,
            .footer-center,
            .footer-right {
                justify-content: center;
                align-items: center;
            }

            .footer-right {
                text-align: center;
            }
        }
    }
}
