.section-share {
<<<<<<< Updated upstream
=======
    &.section-specialty,
    &.section-medical-facility,
    &.section-outstanding-doctor {
        // /background: #f5f5f5;
    }

    &.section-about {
        height: auto;
        padding: 40px 100px;

        .section-about-header {
            padding: 30px 0;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 30px;
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(135deg, rgb(175, 255, 246) 0%, #e0f7fa 100%);
            color: #888888;
            border-radius: 5px;
            &:hover {
                background: linear-gradient(135deg, rgb(159, 255, 244) 0%, #d7f4f8 100%);
                color: #626161; 
                transform: scale(1.02); 
            }
        
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                height: 4px;
                border-radius: 0 0 5px 5px;
            }
        }
        
        
    
        .section-about-content {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .content-left {
                width: 60%;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ mạnh mẽ cho video */
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                iframe {
                    width: 100%;
                    height: 400px;
                    border: none;
                    border-radius: 15px;
                    transition: transform 0.3s ease;
                    &:hover {
                        
                        transform: scale(1.05); 
                        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
                    }
                }
            }

            .content-right {
                width: 35%;
                background-color: #ffffff;
                padding: 20px;
                color: #777474;
                border-radius: 10px;
                font-size: 18px;
                text-align: justify;
                font-style: italic;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease;
                padding-top: 20px;
                line-height: 1.7;
                margin-bottom: 15px;

                &:hover {
                    color: #faa6a6;
                    transform: translateY(-15px); 
                    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }

    .section-container {
        margin: 0px 50px;
        display: flex;
        flex-direction: column;
    
        .section-header {
            height: 60px;
            margin-bottom: 20px;
            display: flex;
            align-items: flex-end; 
            justify-content: space-between;
        }

        .title-section {
            font-size: 20px;
            font-weight: 600;
        }

        .btn-section {
            padding: 8px 15px;
            border: none;
            outline: none;
            background: #ebebeb;
            border: 2px solid #d1cfcf;
            cursor: pointer;
            margin-bottom: 10px;
            margin-right: 15px;

            &:hover {
                background: rgb(248, 178, 47);
                color: white;
                border: 2px solid rgb(251, 171, 21);
            }
        }
    }

    .section-body {
        .section-customize {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .bg-image {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                height: 180px;
                width: 95%;

                &.section-outstanding-doctor {
                    width: 120px !important;
                    height: 120px !important;
                    border-radius: 50%;
                }

                &.section-HandBook {
                    background-image: url('../../assets/specialty/xuongkhop.jpeg');
                }
            }
        }
    }

    .slick-prev,
.slick-next {
    position: absolute !important;
    bottom: 10px !important; 
    z-index: 10 !important; // Giữ mức thấp để không đè lên header
    height: 50px !important;
    width: 50px !important;

.section-share {
>>>>>>> Stashed changes
  &.section-location {
    
  }

  .section-container {
    display: flex;
    flex-direction: column;

    .section-header {
      margin-bottom: 20px;
      margin-top: 30px;
      margin-left: 30px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .title-section {
            color: rgb(0, 0, 0);
            border-radius: 10px;
            border: 1px solid #A0A0A0;
            font-size: 40px;
            font-weight: 600;
<<<<<<< Updated upstream
                  padding: 0px 15px;
=======
            padding: 0px 15px;
>>>>>>> Stashed changes
            background: #E2E2E2;
            font-family: 'Times New Roman', Times, serif;
      }

      .btn-section {
        padding: 8px 15px;
        border: 2px solid #d1cfcf;
        background: #ebebeb;
        cursor: pointer;
        margin-bottom: 10px;
        margin-right: 15px;

        &:hover {
          background: rgb(248, 178, 47);
          color: white;
          border-color: rgb(251, 171, 21);
        }
      }
    }
  }

  .section-body {
    height: 400px;
    margin: 0px 150px;
    padding: 20px 20px ;
    .slick-slider {
      height: 100%;
    }

    .slick-list,
    .slick-track {
      height: 100%;
    }

    .section-customize {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .bg-image {
        width: 100%;
        height: 200px; 
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover .bg-image {
        transform: scale(1.05);
      }
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute !important;
    bottom: 10px !important;
    z-index: 10 !important;
    height: 65px !important;
    width: 65px !important;
    background: #ffffff !important;
    border: 2px solid #d7d7d7 !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease-in-out !important;

    &:hover {
<<<<<<< Updated upstream
=======
        background: #f1c40f !important;
        border-color: #f39c12 !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
    }
}



    .slick-prev:before,
    .slick-next:before {
        font-family: FontAwesome !important;
        color: #d7d7d7 !important;
    }

    .slick-disabled {
        display: none !important;
    }

    .section-outstanding-doctor {
        .outer-bg {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .section-customize {
            padding: 5px;
            cursor: pointer;

            .custumize-border {
                padding: 20px;
                border: 2px solid #d7d7d7 !important;
            }
        }
    }

>>>>>>> Stashed changes
      background: #f1c40f !important;
      border-color: #f39c12 !important;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
    }

    &:before {
      font-family: FontAwesome !important;
      color: #d7d7d7 !important;
    }
  }

  .slick-disabled {
    display: none !important;
  }
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
