.table-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding: 16px 30px;
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ddd;
    z-index: 30;
    flex-shrink: 0;
}

.scroll-container {
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 70px);
    background-color: #f5f5f5;
    //border: 1px solid red;
    margin-left: 10px;
}

#TableManagerUser {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

#TableManagerUser th, #TableManagerUser td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

#TableManagerUser th {
    background: #10d2d5;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: sticky;
    top: 0;
    z-index: 20;
}

#TableManagerUser td {
    color: #000;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#TableManagerUser tr:hover {
    background-color: #dcdcdc;
    transition: background-color 0.3s ease;
}

.btn-edit, .btn-delete {
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
}

.btn-edit {
    background: linear-gradient(135deg, #17a2b8, #21c7e0);
    color: white;
}

.btn-edit:hover {
    background: linear-gradient(135deg, #138496, #0f6674);
    transform: scale(1.05);
    color: #f1f5f9;
}

.btn-delete {
    background: linear-gradient(135deg, #dc3545, #fb1128);
    color: white;
    margin-left: 8px;
}

.btn-delete:hover {
    background: linear-gradient(135deg, #c82333, #89111b);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}

#TableManagerUser .img {
    width: 60px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto;
    justify-content: center;
}

#TableManagerUser .no-image {
    display: flex;
    align-items: center;
    color: rgb(237, 148, 148);
    justify-content: center;
}
